@import "reset.scss";

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Mark Simonson - Proxima Nova Black.eot');
	src: local('☺'), url('fonts/Mark Simonson - Proxima Nova Black.woff') format('woff'), url('fonts/Mark Simonson - Proxima Nova Black.ttf') format('truetype'), url('fonts/Mark Simonson - Proxima Nova Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Mark Simonson - Proxima Nova Condensed Bold.eot');
	src: local('☺'), url('fonts/Mark Simonson - Proxima Nova Condensed Bold.woff') format('woff'), url('fonts/Mark Simonson - Proxima Nova Condensed Bold.ttf') format('truetype'), url('fonts/Mark Simonson - Proxima Nova Condensed Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Mark Simonson - Proxima Nova Condensed Light.eot');
	src: local('☺'), url('fonts/Mark Simonson - Proxima Nova Condensed Light.woff') format('woff'), url('fonts/Mark Simonson - Proxima Nova Condensed Light.ttf') format('truetype'), url('fonts/Mark Simonson - Proxima Nova Condensed Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Mark Simonson - Proxima Nova Condensed Regular.eot');
	src: local('☺'), url('fonts/Mark Simonson - Proxima Nova Condensed Regular.woff') format('woff'), url('fonts/Mark Simonson - Proxima Nova Condensed Regular.ttf') format('truetype'), url('fonts/Mark Simonson - Proxima Nova Condensed Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




*,
*::before,
*::after {
   box-sizing: border-box;
}

.container {
   margin: 0 auto;
   max-width: 1150px;
   padding: 0px 10px;
}

a {
   color: #fff;
   text-decoration: none;
}

.btn {
	position: relative;
	display: inline-block;
	font-family: 'Proxima Nova';
	font-weight: 700;
	font-size: 12px;
   line-height: 12px;

	text-align: center;
	letter-spacing: 0.15em;

	color: #ffffff;
	text-decoration: none;

	background: #eb3f57;
	box-shadow: inset 0px 4px 20px rgba(255, 255, 255, 0.25),
		0px 0px 44px 9px rgba(235, 63, 87, 0.8);
	border-radius: 5px;

	padding: 17px 36px 17px 25px;

	transition: all 0.3s;
   z-index: 2;
	&::before {
		content: "";
		position: absolute;
		bottom: -10px;
		left: 0;
		right: 0;

		background: #da3950;

		width: 100%;
		height: 100%;
		z-index: 1;

		border-radius: 5px;
		transition: all 0.3s;
	}
}

.header {
   background-color: #3C374B;
   padding: 39px 0px;
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__burger {
      border: 1px solid #fff;
      width: 39px;
      position: relative;
      &::before {
         content: '';
         position: absolute;
         width: 28px;
         height: 1px;
         border: 1px solid #fff;
         top: -10px;
         left: 0px;
      }
      &::after {
         content: '';
         position: absolute;
         width: 28px;
         height: 1px;
         border: 1px solid #fff;
         bottom: -10px;
         right: 0px;
      }
   }

   &__mail {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.05em;
      border-bottom: 1px solid rgba(255, 255, 255, 0.49);
      position: relative;
      font-family: 'Proxima Nova';
      font-weight: 400;
      margin-left: 42px;
      &::before {
         content: '';
         position: absolute;
         background: url(../img/Icons/mail.svg) no-repeat center center;
         width: 12px;
         height: 12px;
         top: -8px;
         left: -42px;
         border: 1px solid #777684;
         border-radius: 50%;
         padding: 15px;
      }
   }

   &__message {
      display: flex;
   }

   &__message-link {
      display: flex;
      align-items: center;
      margin-right: 12px;
      background-color: #444054;
      border-radius: 50%;
      padding: 12px; 
      text-align: center;
      &:last-child {
         margin-right: 0;
      }
      &:nth-child(1) {
         padding: 12px;
      }
      &:nth-child(2) {
         padding: 12px 12px 11px 11px;
      }
      &:nth-child(3) {
         padding: 12px 13px 12px 11px;
      }
   }

   &__message-img {
      width: 100%;
   }

   &__logo-link {
      
   }

   &__logo-img {
   }

   &__call {
      position: relative;
      padding-left: 45px;
      &::before {
         content: '';
         position: absolute;
         background: url(../img/Icons/phone.svg) no-repeat center center;
         width: 9px;
         height: 9px;
         top: 2px;
         left: 0px;
         border: 1px solid #777684;
         border-radius: 50%;
         padding: 18px 17px 16px 17px;
      }
   }

   &__call-phone-color {
      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
      font-family: 'Proxima Nova';
      color: rgba(255, 255, 255, 0.8);
   }

   &__call-phone {
      font-size: 16px;
      line-height: 22px;
      font-family: 'Proxima Nova';
      font-weight: 600;
      opacity: none;
   }

   &__call-back {
      color: rgba(255, 255, 255, 0.5);
      font-size: 10px;
      line-height: 12px;
      font-weight: 300;
      font-family: 'Proxima Nova';
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.26);
      max-width: 90px;
      margin-left: auto;
   }
}
